<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Mi Tienda</title>
        <link rel="stylesheet" href="plantillaCSS.css">
    </head>
    <body>
        <h1>Bienvenido a la tienda</h1>

        <div class="main-container">
            <div class="col izquierda">
                <p>  OPCIONES</p>
                <div class="contenedor">
                    <div class="cuadro uno">PC's</div>
                    <div class="cuadro dos">RAM</div>
                    <div class="cuadro tres">Periféricos</div>
                </div>
            </div>
            <div class="col derecha">
                <p>PROXIMAMENTE...</p>
            </div>
        </div>
        <footer>
            Todos los Derechos Reservados Mi Tienda 2025 &COPY;
        </footer>
    </body>
</html>